.App {
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: #000;

  justify-content: center;
  align-items: center;
}

.loginForm {
  padding: 2em;
  background-color: #adb4b4;
  border-radius: 15px;
}

.fieldGroup:not(:last-child) {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

label {
  margin-bottom: 0.2em;
}

input[type="password"] {
  padding: 0.5em;
  border-radius: 5px;

  min-width: 300px;
}

input[type="submit"] {
  padding: 1em;
  background-color: #056d63;
  color: #04ca9f;
  border: 0px solid white;
  border-radius: 4px;

  font-size: 1.1em;
}

h1 {
  color: #000;
}

form.invalid input[type="password"] {
  border-color: #c00;
}
form.invalid label {
  color: #c00;
  font-weight: bold;
}

.fieldError {
  color: #c00;
}

/*
#04ca9f
#056d63
#5c9c96
#adb4b4
#3a7e7d
#000000
*/
